*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #002339;
}
.main{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}
.main h1{
    color: #fff;
}
input{
    margin-top: 1.50vw;
    padding: 1.50vw;
    width: 500px;
    border-radius: 50px;
}
button{
    padding: 1.70vw;
    border-radius: 50px;
    background-color: #111;
    border: none;
    color: #fff;
}